<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IMC</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header">
        CALCULADORA IMC
    </div>
    <div class="card-body">
        <form th:action="@{/calcularimc}" method="post" th:object="${imcmodel}">
            <div class="mb-3">
                <label for="txttalla" class="form-label">Ingrese su Talla:</label>
                <input type="number" th:field="*{talla}" class="form-control" id="txttalla" placeholder="TALLA">
            </div>
            <div class="mb-3">
                <label for="txtpeso" class="form-label">Ingrese su Peso:</label>
                <input type="number" th:field="*{peso}" class="form-control" id="txtpeso" placeholder="PESO">
            </div>
            <button type="submit" class="btn btn-warning">CALCULAR</button>
        </form>
        <div th:if="${visualizaralerta}" class="alert" th:classappend="${estiloDiagnostico}" role="alert">
            <span th:text="${resultado} ?: ''"></span>
        </div>
    </div>
</div>
</body>
</html>